html, body {
  height: 100%;
  width: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: white;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Home-header {
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: black;
  padding-bottom: 5%;
}

.Home-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Site-button {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: red;
  color: white;
  padding: 20px 30px;
}

.Dfs-button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 10px 15px;
}

.Logout-button {
  margin-top: 2%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: dimgray;
  color: white;
  padding: 9px 14px;
}

.Loading-text {
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: white;
}

.Nav-bar {
  align-items: center;
  background-color: lightgray;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  justify-content: space-evenly;
  line-height: 24px;
  top: 0;
  position: fixed;
  width: 100%;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 1);
  z-index: 69;
}

a:link {
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: ghostwhite;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: ghostwhite;
  background-color: transparent;
  text-decoration: none;
}

.App-header {
  text-align: center;
  color: black;
  padding-top: 30px;
}

.Buttons-and-boxes {
  display: flex;
  flex-direction: row;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-between;
  align-items: center;
}

.Player-list-box {
  display: flex;
  flex-direction: column;
  height: 50vmin;
  overflow: auto;
}

.Player-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15vmin;
}

.Add-button {
  width: 80px;
  font-weight: bold;
  background-color: green;
  color: white;
}

.Remove-button {
  width: 80px;
  font-weight: bold;
  background-color: red;
  color: white;
}

.Clear-button {
  width: 80px;
  font-weight: bold;
  background-color: yellow;
  color: black;
}

.Swap-button {
  width: 80px;
  color: white;
}

.Ranking-button {
  width: 80px;
  color: white;
  background-color: darkblue;
}

.Draft-button {;
  height: 40px;
  width: 80px;
  font-weight: bold;
  background-color: orange;
}

.Slider-row {
  display: flex;
  flex-direction: row;
  padding: 3% 4% 3% 4%;
  justify-content: space-between;
  font-weight: bold;
  color: black;
}

.Sliders {
  display: flex;
  padding-bottom: 10%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.Draft-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 125px;
}

.Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Cancel-draft-button {
  margin-top: 100%;
  width: 80px;
  height: 40px;
  background-color: red;
  font-weight: bold;
}

.Loading-text {
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: black;
  padding-bottom: 30%;
}

.Optimizing-text {
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: black;
  padding-top: 25%;
}

.App-logo {
  animation: App-logo-spin infinite 2.5s linear;
  height: 15vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo2 {
  animation: App-logo-fill 2s ease infinite;
  background: white;
  height: 20vmin;
}

@keyframes App-logo-fill {
  0% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, transparent 0)}
  5% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 5%, transparent 0)}
  10% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, transparent 0)}
  15% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 15%, transparent 0)}
  20% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, transparent 0)}
  25% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 25%, transparent 0)}
  30% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 30%, transparent 0)}
  35% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 35%, transparent 0)}
  40% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, transparent 0)}
  45% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 45%, transparent 0)}
  50% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 0)}
  55% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 55%, transparent 0)}
  60% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 60%, transparent 0)}
  65% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 65%, transparent 0)}
  70% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, transparent 0)}
  75% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 75%, transparent 0)}
  80% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 80%, transparent 0)}
  85% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, transparent 0)}
  90% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, transparent 0)}
  95% {mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 95%, transparent 0)}
  100% {mask-image: none}
}

.Dfs-grid-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: flex-start;
  padding-bottom: 3%;
}

.Dfs-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 28px;
  color: black;
}

.Draft-grid table, td {
  border: 1px solid black;
  margin: 0 auto 0 auto;
  vertical-align: middle;
}

.Draft-grid td {
  padding: 0 16px 0 16px;
}

.Draft-grid tr:hover {
  background-color: indianred;
}

.Dfs-grid table {
  border-spacing: 0;
  margin: 0 auto 0 auto;
  text-align: center;
  vertical-align: middle;
}

.Dfs-grid td, th {
  padding: 0 16px 0 16px;
}

.Dfs-grid tr:nth-child(even) {
  background-color: lightgray;
}

.Dfs-grid tr:hover {
  background-color: indianred;
}

.Dfs-grid th {
  padding: 0 16px 0 16px;
  text-align: center;
  color: white;
}

.Dfs-sport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.Drop-down {
  text-align: center;
  width: 100px;
  height: 30px;
}
