html, body {
  height: 100%;
  width: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: darkslategray;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Home-button {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: red;
  color: navajowhite;
  padding: 20px 30px;
}

.Nav-bar {
  margin-top: -40px;
}

.App-header {
  text-align: center;
  color: navajowhite;
}

.Buttons-and-boxes {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  align-items: center;
}

.Player-list-box {
  background-color: lightblue;
}

.Player-buttons {;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.Add-button {;
  width: 80px;
  background-color: green;
}

.Remove-button {;
  width: 80px;
  background-color: red;
}

.Clear-button {;
  width: 80px;
  background-color: yellow;
}

.Swap-button {;
  width: 80px;
  background-color: whitesmoke;
}

.Draft-button-div {;
  display: flex;
  align-items: center;
}

.Draft-button {;
  height: 40px;
  width: 80px;
  background-color: orange;
}

.Slider-row {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  color: navajowhite;
}

.Sliders {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.Loading-text {
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: navajowhite;
  margin-bottom: 30%;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 30vmin;
  pointer-events: none;
}

.Dfs-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  align-items: flex-start;
}

.Dfs-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: navajowhite;
}

.Dfs-sport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: navajowhite;
}

.Drop-down {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
