html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  max-width: 1290px;
  margin: auto;
  background-color: darkslategray;
}

.App-header {
  text-align: center;
  color: navajowhite;
}

.Player-list-box-div {
  display: flex;
  float: left;
}

.Player-list-box {
  background-color: lightblue;
}

.Player-button {;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  float: left;
}

.Add-button {;
  width: 80px;
  background-color: green;
}

.Remove-button {;
  width: 80px;
  background-color: red;
}

.Clear-button {;
  width: 80px;
  background-color: yellow;
}

.User-list-box-div {
  display: flex;
  margin-left: 1%;
  float: left;
}

.User-list-box {
  background-color: lightblue;
}

.Draft-button-div {;
  margin-left: 1%;
  float: left;
}

.Draft-button {;
  width: 80px;
  background-color: orange;
}

.Draft-results-div {;
  display: flex;
  margin-left: 1%;
  float: left;
}

.Draft-results {;
  background-color: lightblue;
}

.Slider-labels {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 50px;
  margin-top: -130px;
  text-align: center;
  color: navajowhite;
}

.Slider-div {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 25px;
  margin-top: -130px;
}

.Slider {
  margin-bottom: 25px;
}

.Loading-text {
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: navajowhite;
  margin-bottom: 30%;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 30vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
