{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Draft Simulator
{% endblock %}

{% block styles %}
{{super()}}
<link rel="shortcut icon" href="/static/react/football.ico"/>
{% endblock %}

{% block content %}
<body style="background-color: darkslategrey; color:navajowhite;">
    <nav style="display: flex; justify-content: center; margin-top: 25px;">
        <h3 style="position: absolute; left: 50px">Logo goes here.</h3>
        <h2 style="font-size: 52px; font-weight: bold">Draft Simulator</h2>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                onclick="window.location.pathname = '/login'"
                style="position: absolute; right: 200px; margin-top: 5px; width: 100px;">Log In</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                onclick="window.location.pathname = '/signup'"
                style="position: absolute; right: 50px; width: 100px;">Sign Up</button>
    </nav>
    <main style="display: flex; flex-direction: column; margin-top: 9%; font-family: Ebrima; text-align: center;">
        <section style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 10%; background-color: rgba(0, 139, 139, 0.7);">
            <h1 style="font-size: 48px; flex-wrap: wrap; line-height: 1.5; margin-left: 10%; width: 30%;">Get the fantasy draft advantage you deserve.</h1>
            <section style="display: flex; flex-direction: column; justify-content: space-evenly; margin-right: 10%; width: 30%;">
                <p style="font-size: 24px; flex-wrap: wrap">Ever wondered if you could draft that sleeper without missing out on the studs?</p>
                <p style="font-size: 24px; flex-wrap: wrap">Simulate hundreds of mock drafts and plan your winning draft strategy.</p>
            </section>
        </section>
        <section style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 10%; background-color: rgba(153, 50, 204, 0.4);">
            <h1 style="font-size: 48px; flex-wrap: wrap; line-height: 1.5; margin-left: 10%; width: 30%;">Optimize your daily fantasy sports lineups.</h1>
            <section style="display: flex; flex-direction: column; justify-content: space-evenly; margin-right: 10%; width: 30%;">
                <p style="font-size: 24px; flex-wrap: wrap">Need a better way to choose a great DFS lineup while staying under the cap?</p>
                <p style="font-size: 24px; flex-wrap: wrap">Try our DFS OptimizerComponent<sup>Beta</sup> and build the best lineup possible around your favorite players.</p>
            </section>
        </section>
    </main>
</body>
{% endblock %}