{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/signin.css">
<link rel="shortcut icon" href="/static/react/football.ico"/>
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/login">
    <h2 class="form-signin-heading" style="text-align: center; margin-bottom: 15%;">Please Log In</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.remember) }}
    {% if error %}
      <p style="color: red">{{ error }}</p>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10%;">Log In</button>
    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 5%;"
            onclick="window.location.pathname = '/signup'">Sign Up</button>
  </form>

</div>
{% endblock %}